.vscode/settings.json
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/CPackConfig.cmake
build/CPackSourceConfig.cmake
build/Makefile
build/Triangulation.exe
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-7db51b401275a4f0864a.json
build/.cmake/api/v1/reply/codemodel-v2-527dfb10dfb8406681ad.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2022-06-17T06-13-20-0372.json
build/.cmake/api/v1/reply/target-Triangulation-Debug-b47b93b1ef9230f36e97.json
build/.cmake/api/v1/reply/toolchains-v1-36275e4124b71db6c503.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.23.2/CMakeCCompiler.cmake
build/CMakeFiles/3.23.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.23.2/CMakeRCCompiler.cmake
build/CMakeFiles/3.23.2/CMakeSystem.cmake
build/CMakeFiles/3.23.2/CompilerIdC/a.exe
build/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.23.2/CompilerIdCXX/a.exe
build/CMakeFiles/3.23.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/Triangulation.dir/build.make
build/CMakeFiles/Triangulation.dir/cmake_clean.cmake
build/CMakeFiles/Triangulation.dir/compiler_depend.internal
build/CMakeFiles/Triangulation.dir/compiler_depend.make
build/CMakeFiles/Triangulation.dir/compiler_depend.ts
build/CMakeFiles/Triangulation.dir/depend.make
build/CMakeFiles/Triangulation.dir/DependInfo.cmake
build/CMakeFiles/Triangulation.dir/flags.make
build/CMakeFiles/Triangulation.dir/link.txt
build/CMakeFiles/Triangulation.dir/linklibs.rsp
build/CMakeFiles/Triangulation.dir/main.cpp.obj
build/CMakeFiles/Triangulation.dir/main.cpp.obj.d
build/CMakeFiles/Triangulation.dir/objects.a
build/CMakeFiles/Triangulation.dir/objects1.rsp
build/CMakeFiles/Triangulation.dir/progress.make
build/CMakeFiles/Triangulation.dir/triangulation.cpp.obj
build/CMakeFiles/Triangulation.dir/triangulation.cpp.obj.d
